In [ ]:
# import packages
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
training_features_data = pd.read_csv("/content/train.csv", sep=',')
test_features_data = pd.read_csv('/content/test.csv',sep=',')

In [ ]:
training_features_data=training_features_data.set_index('id')

In [ ]:
training_set_labels = training_features_data[['DC201']]

In [ ]:
training_set_labels

             DC201
id
1      Layak Minum
2      Layak Minum
3      Layak Minum
6      Layak Minum
7      Layak Minum
...            ...
47958  Layak Minum
47959  Layak Minum
47961  Layak Minum
47962  Layak Minum
47963  Layak Minum

[35973 rows x 1 columns]

In [ ]:
import pandas as pd

# perform one-hot encoding on the 'DC201' column
one_hot_encoded = pd.get_dummies(training_set_labels)

# join the one-hot encoded dataframe with the original training_set_labels dataframe
training_set_labels_ohe = pd.concat([training_set_labels, one_hot_encoded], axis=1)

# drop the original 'DC201' column
training_set_labels_ohe.drop('DC201', axis=1, inplace=True)
training_set_labels_ohe.drop('DC201_Tidak Layak Minum', axis=1, inplace=True)
training_set_labels_ohe.rename(columns={'DC201_Layak Minum': 'DC201'}, inplace=True)

# print the resulting dataframe with one-hot encoded features
print(training_set_labels_ohe.head())

    DC201
id
1       1
2       1
3       1
6       1
7       1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
training_set_labels=training_set_labels_ohe

In [ ]:
training_set_labels=training_set_labels.loc[:, 'DC201'].values
training_features_data = training_features_data.loc[:, ~training_features_data.columns.isin(['DC201'])]
test_features_data=test_features_data.set_index('id')

In [ ]:
training_features_data

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237e,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a
id,,,,,,,,,,,,,,,,,,,,,
1,11,2,16.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,2.0,1,12.0,60.0
2,11,2,31.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,2,31.0,70.0
3,11,2,12.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,4,11.0,75.0
6,11,2,12.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,2.0,NaN,1.0,0.0,1.0,1,11.0,85.0
7,11,2,12.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2,11.0,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47958,94,1,17.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,NaN,0.0,0.0,0.0,1,21.0,9.0
47959,94,1,12.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,12.0
47961,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1,11.0,48.0
47962,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,39.0
47963,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3,11.0,40.0

In [ ]:
DC024_mapped = {
    11 : "aceh",
    12 : "north sumatera",
    13 : "west sumatera",
    14 : "riau",
    15 : "jambi",
    16 : "south sumatera",
    17 : "bengkulu",
    18 : "lampung",
    19 : "bangka belitung",
    21 : "riau islands",
    31 : "jakarta",
    32 : "west java",
    33 : "central java",
    34 : "yogyakarta",
    35 : "east java",
    36 : "banten",
    51 : "bali",
    52 : "west nusa tenggara",
    53 : "east nusa tenggara",
    61 : "west kalimantan",
    62 : "central kalimantan",
    63 : "south kalimantan",
    64 : "east kalimantan",
    65 : "north kalimantan",
    71 : "north sulawesi",
    72 : "central sulawesi",
    73 : "south sulawesi",
    74 : "southeast sulawesi",
    75 : "gorontalo",
    76 : "west sulawesi",
    81 : "maluku",	
    82 : "north maluku",
    91 : "west papua",
    94 : "papua"
}
DC205_mapped = {
    -1 : "None DC205",
    10 : "flush toilet",
    11 : "flush to piped sewer system",
    12 : "flush to septic tank",
    13 : "flush to pit latrine",
    14 : "flush to somewhere else",
    15 : "flush, don't know where",
    16 : "flush with no septic tank",
    17 : "flush toilet : shared / public",
    20 : "pit toilet latrine",
    21 : "ventilated improved pit latrine (VIP)",
    22 : "pit latrine with slab",
    23 : "pit latrine without slab/open pit",
    30 : "no facility",
    31 : "no facility/bush/field/river/ beach/ pond/pool",
    41 : "composting toilet",
    42 : "bucket toilet",
    43 : "hanging toilet/latrine",
    96 : "other DC205"
}
DC213_mapped = {
    -1 : "None DC213",
    10 : "natural DC213",
    11 : "earth/sand DC213",
    12 : "dung DC213",
    20 : "rudimentary DC213",
    21 : "wood planks DC213",
    22 : "palm/bamboo DC213",
    30 : "finished DC213",
    31 : "parquet or polished wood DC213",
    32 : "vinyl or asphalt strips DC213",
    33 : "ceramic/marble/granite DC213",
    34 : "floor tiles/teraso DC213",
    35 : "cement/red bricks DC213",
    36 : "carpet DC213",
    96 : "other DC213"
}
DC214_mapped = {
    -1 : "None DC214",
    10 : "natural DC214",
    12 : "thatch/palm leaf DC214",
    13 : "sod DC214",
    20 : "rudimentary DC214",
    21 : "rustic mat DC214",
    22 : "palm/bamboo DC214",
    23 : "wood planks DC214",
    30 : "finished DC214",
    31 : "roofing DC214",
    32 : "asbestos DC214",
    33 : "tile DC214",
    34 : "concrete DC214",
    35 : "metal tile DC214",
    36 : "roofing shingles DC214",
    96 : "other DC214"
}
DC215_mapped = {
    -1 : "None DC215",
    10 : "natural DC215",
    12 : "thatch/palm leaf DC215",
    13 : "sod DC215",
    20 : "rudimentary DC215",
    21 : "rustic mat DC215",
    22 : "palm/bamboo DC215",
    23 : "wood planks DC215",
    30 : "finished DC215",
    31 : "roofing DC215",
    32 : "asbestos DC215",
    33 : "tile DC215",
    34 : "concrete DC215",
    35 : "metal tile DC215",
    36 : "roofing shingles DC215",
    96 : "other DC215"
}
DC226_mapped = {
    -1 : "None DC226",
    1 : "electricity",
    2 : "lpg",	
    3 : "natural gas",	
    4 : "biogas",
    5 : "kerosene",
    6 : "coal, lignite",
    7 : "charcoal",
    8 : "wood",
    9 : "straw/shrubs/grass",
    10 : "agricultural crop",
    11 : "animal dung",
    95 : "no food cooked in house",
    96 : "other DC226"
}
DC230a_mapped = {
    -1 : "None DC230a",
    1 : "observed, fixed place",
    2 : "observed, mobile place",
    3 : "not observed: not in dwelling",
    4 : "not observed: no permission to see",
    5 : "not observed: other reason"
}
DC235_mapped = {
    -1 : "None DC235",
    1 : "in own dwelling",
    2 : "in own yard/plot",
    3 : "elsewhere"
}
DC241_mapped = {
    -1 : "None DC241",
    1 : "in the house",
    2 : "in a separate building",
    3 : "outdoors",
    6 : "other DC241"
}
DC252_mapped = {
    -1 : "None DC252",
    0 : "never",
    1 : "daily",
    2 : "weekly",
    3 : "monthly",
    4 : "less than once a month"
}
DC109_mapped = {
    -1 : "None DC109",
    11 : "private: with septic tank",
    12 : "private: with no septic tank",
    21 : "shared/public",
    31 : "river/stream/creek",
    32 : "beach",
    33 : "pool/ponds",
    41 : "pit",
    51 : "yard/bush/forest",
    96 : "other DC109"
}
separated_cols = ['DC024', 'DC205', 'DC213', 'DC214', 'DC215',
       'DC226', 'DC230a', 'DC235', 'DC241', 'DC252', 'DC109']
full_map = [DC024_mapped, DC205_mapped, DC213_mapped, DC214_mapped, DC215_mapped,
       DC226_mapped, DC230a_mapped, DC235_mapped, DC241_mapped, DC252_mapped, DC109_mapped]
for index, map in zip(separated_cols, full_map):
  training_features_data[index] = training_features_data[index].map(map)
training_features_data

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237e,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a
id,,,,,,,,,,,,,,,,,,,,,
1,aceh,2,flush with no septic tank,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,in the house,0.0,0.0,0.0,weekly,1,private: with no septic tank,60.0
2,aceh,2,no facility/bush/field/river/ beach/ pond/pool,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,in the house,0.0,1.0,1.0,daily,2,river/stream/creek,70.0
3,aceh,2,flush to septic tank,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,in the house,0.0,1.0,1.0,never,4,private: with septic tank,75.0
6,aceh,2,flush to septic tank,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,in a separate building,NaN,1.0,0.0,daily,1,private: with septic tank,85.0
7,aceh,2,flush to septic tank,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,in the house,0.0,0.0,1.0,never,2,private: with septic tank,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47958,papua,1,flush toilet : shared / public,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,outdoors,NaN,0.0,0.0,never,1,shared/public,9.0
47959,papua,1,flush to septic tank,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,in the house,1.0,0.0,0.0,never,2,private: with septic tank,12.0
47961,papua,1,flush to septic tank,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,in the house,1.0,0.0,1.0,daily,1,private: with septic tank,48.0
47962,papua,1,flush to septic tank,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,in the house,1.0,0.0,0.0,never,2,private: with septic tank,39.0
47963,papua,1,flush to septic tank,1.0,0.0,1.0,1.0,0.0,1.0,1.0,...,0.0,0.0,in the house,0.0,0.0,0.0,never,3,private: with septic tank,40.0

In [ ]:
training_features_data=training_features_data.fillna(training_features_data.mean())
training_features_data=training_features_data.fillna('out-of-category')

<ipython-input-65-21c95266ba6e>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  training_features_data=training_features_data.fillna(training_features_data.mean())

In [ ]:
training_features_data.isna().sum()

DC024     0
DC025     0
DC205     0
DC206     0
DC207     0
DC208     0
DC209     0
DC210     0
DC211     0
DC212     0
DC213     0
DC214     0
DC215     0
DC216     0
DC217     0
DC219     0
DC220     0
DC226     0
DC230a    0
DC230b    0
DC232     0
DC232b    0
DC235     0
DC237     0
DC237a    0
DC237b    0
DC237c    0
DC237d    0
DC237e    0
DC237f    0
DC241     0
DC242     0
DC244     0
DC246     0
DC252     0
DC270a    0
DC109     0
DC142a    0
dtype: int64

In [ ]:
#encoding categorical features (str-->float)

from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()

enc.fit(training_features_data)
training_features_data_arr=enc.transform(training_features_data)

col_names_list=training_features_data.columns
encoded_categorical_df=pd.DataFrame(training_features_data_arr, columns=col_names_list)

In [ ]:
#normalization(make all values bet. 0-1)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(encoded_categorical_df)
normalized_arr=scaler.transform(encoded_categorical_df)

normalized_df=pd.DataFrame(normalized_arr, columns=col_names_list)

In [ ]:
#check if data types are correct or not 
normalized_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35973 entries, 0 to 35972
Data columns (total 38 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DC024   35973 non-null  float64
 1   DC025   35973 non-null  float64
 2   DC205   35973 non-null  float64
 3   DC206   35973 non-null  float64
 4   DC207   35973 non-null  float64
 5   DC208   35973 non-null  float64
 6   DC209   35973 non-null  float64
 7   DC210   35973 non-null  float64
 8   DC211   35973 non-null  float64
 9   DC212   35973 non-null  float64
 10  DC213   35973 non-null  float64
 11  DC214   35973 non-null  float64
 12  DC215   35973 non-null  float64
 13  DC216   35973 non-null  float64
 14  DC217   35973 non-null  float64
 15  DC219   35973 non-null  float64
 16  DC220   35973 non-null  float64
 17  DC226   35973 non-null  float64
 18  DC230a  35973 non-null  float64
 19  DC230b  35973 non-null  float64
 20  DC232   35973 non-null  float64
 21  DC232b  35973 non-null  float64
 22  DC235   35973 non-null  float64
 23  DC237   35973 non-null  float64
 24  DC237a  35973 non-null  float64
 25  DC237b  35973 non-null  float64
 26  DC237c  35973 non-null  float64
 27  DC237d  35973 non-null  float64
 28  DC237e  35973 non-null  float64
 29  DC237f  35973 non-null  float64
 30  DC241   35973 non-null  float64
 31  DC242   35973 non-null  float64
 32  DC244   35973 non-null  float64
 33  DC246   35973 non-null  float64
 34  DC252   35973 non-null  float64
 35  DC270a  35973 non-null  float64
 36  DC109   35973 non-null  float64
 37  DC142a  35973 non-null  float64
dtypes: float64(38)
memory usage: 10.4 MB

In [ ]:
#check types of test dataset
test_features_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11990 entries, 26718 to 45296
Data columns (total 38 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DC024   11990 non-null  int64
 1   DC025   11990 non-null  int64
 2   DC205   11990 non-null  int64
 3   DC206   11990 non-null  int64
 4   DC207   11990 non-null  int64
 5   DC208   11990 non-null  int64
 6   DC209   11990 non-null  int64
 7   DC210   11990 non-null  int64
 8   DC211   11990 non-null  int64
 9   DC212   11990 non-null  int64
 10  DC213   11990 non-null  int64
 11  DC214   11990 non-null  int64
 12  DC215   11990 non-null  int64
 13  DC216   11990 non-null  int64
 14  DC217   11990 non-null  int64
 15  DC219   11990 non-null  int64
 16  DC220   11990 non-null  int64
 17  DC226   11990 non-null  int64
 18  DC230a  11990 non-null  int64
 19  DC230b  11990 non-null  int64
 20  DC232   11990 non-null  int64
 21  DC232b  11990 non-null  int64
 22  DC235   11990 non-null  int64
 23  DC237   11990 non-null  int64
 24  DC237a  11990 non-null  int64
 25  DC237b  11990 non-null  int64
 26  DC237c  11990 non-null  int64
 27  DC237d  11990 non-null  int64
 28  DC237e  11990 non-null  int64
 29  DC237f  11990 non-null  int64
 30  DC241   11990 non-null  int64
 31  DC242   11990 non-null  int64
 32  DC244   11990 non-null  int64
 33  DC246   11990 non-null  int64
 34  DC252   11990 non-null  int64
 35  DC270a  11990 non-null  int64
 36  DC109   11990 non-null  int64
 37  DC142a  11990 non-null  int64
dtypes: int64(38)
memory usage: 3.6 MB

In [ ]:
DC024_mapped = {
    11 : "aceh",
    12 : "north sumatera",
    13 : "west sumatera",
    14 : "riau",
    15 : "jambi",
    16 : "south sumatera",
    17 : "bengkulu",
    18 : "lampung",
    19 : "bangka belitung",
    21 : "riau islands",
    31 : "jakarta",
    32 : "west java",
    33 : "central java",
    34 : "yogyakarta",
    35 : "east java",
    36 : "banten",
    51 : "bali",
    52 : "west nusa tenggara",
    53 : "east nusa tenggara",
    61 : "west kalimantan",
    62 : "central kalimantan",
    63 : "south kalimantan",
    64 : "east kalimantan",
    65 : "north kalimantan",
    71 : "north sulawesi",
    72 : "central sulawesi",
    73 : "south sulawesi",
    74 : "southeast sulawesi",
    75 : "gorontalo",
    76 : "west sulawesi",
    81 : "maluku",	
    82 : "north maluku",
    91 : "west papua",
    94 : "papua"
}
DC205_mapped = {
    -1 : "None DC205",
    10 : "flush toilet",
    11 : "flush to piped sewer system",
    12 : "flush to septic tank",
    13 : "flush to pit latrine",
    14 : "flush to somewhere else",
    15 : "flush, don't know where",
    16 : "flush with no septic tank",
    17 : "flush toilet : shared / public",
    20 : "pit toilet latrine",
    21 : "ventilated improved pit latrine (VIP)",
    22 : "pit latrine with slab",
    23 : "pit latrine without slab/open pit",
    30 : "no facility",
    31 : "no facility/bush/field/river/ beach/ pond/pool",
    41 : "composting toilet",
    42 : "bucket toilet",
    43 : "hanging toilet/latrine",
    96 : "other DC205"
}
DC213_mapped = {
    -1 : "None DC213",
    10 : "natural DC213",
    11 : "earth/sand DC213",
    12 : "dung DC213",
    20 : "rudimentary DC213",
    21 : "wood planks DC213",
    22 : "palm/bamboo DC213",
    30 : "finished DC213",
    31 : "parquet or polished wood DC213",
    32 : "vinyl or asphalt strips DC213",
    33 : "ceramic/marble/granite DC213",
    34 : "floor tiles/teraso DC213",
    35 : "cement/red bricks DC213",
    36 : "carpet DC213",
    96 : "other DC213"
}
DC214_mapped = {
    -1 : "None DC214",
    10 : "natural DC214",
    12 : "thatch/palm leaf DC214",
    13 : "sod DC214",
    20 : "rudimentary DC214",
    21 : "rustic mat DC214",
    22 : "palm/bamboo DC214",
    23 : "wood planks DC214",
    30 : "finished DC214",
    31 : "roofing DC214",
    32 : "asbestos DC214",
    33 : "tile DC214",
    34 : "concrete DC214",
    35 : "metal tile DC214",
    36 : "roofing shingles DC214",
    96 : "other DC214"
}
DC215_mapped = {
    -1 : "None DC215",
    10 : "natural DC215",
    12 : "thatch/palm leaf DC215",
    13 : "sod DC215",
    20 : "rudimentary DC215",
    21 : "rustic mat DC215",
    22 : "palm/bamboo DC215",
    23 : "wood planks DC215",
    30 : "finished DC215",
    31 : "roofing DC215",
    32 : "asbestos DC215",
    33 : "tile DC215",
    34 : "concrete DC215",
    35 : "metal tile DC215",
    36 : "roofing shingles DC215",
    96 : "other DC215"
}
DC226_mapped = {
    -1 : "None DC226",
    1 : "electricity",
    2 : "lpg",	
    3 : "natural gas",	
    4 : "biogas",
    5 : "kerosene",
    6 : "coal, lignite",
    7 : "charcoal",
    8 : "wood",
    9 : "straw/shrubs/grass",
    10 : "agricultural crop",
    11 : "animal dung",
    95 : "no food cooked in house",
    96 : "other DC226"
}
DC230a_mapped = {
    -1 : "None DC230a",
    1 : "observed, fixed place",
    2 : "observed, mobile place",
    3 : "not observed: not in dwelling",
    4 : "not observed: no permission to see",
    5 : "not observed: other reason"
}
DC235_mapped = {
    -1 : "None DC235",
    1 : "in own dwelling",
    2 : "in own yard/plot",
    3 : "elsewhere"
}
DC241_mapped = {
    -1 : "None DC241",
    1 : "in the house",
    2 : "in a separate building",
    3 : "outdoors",
    6 : "other DC241"
}
DC252_mapped = {
    -1 : "None DC252",
    0 : "never",
    1 : "daily",
    2 : "weekly",
    3 : "monthly",
    4 : "less than once a month"
}
DC109_mapped = {
    -1 : "None DC109",
    11 : "private: with septic tank",
    12 : "private: with no septic tank",
    21 : "shared/public",
    31 : "river/stream/creek",
    32 : "beach",
    33 : "pool/ponds",
    41 : "pit",
    51 : "yard/bush/forest",
    96 : "other DC109"
}
separated_cols = ['DC024', 'DC205', 'DC213', 'DC214', 'DC215',
       'DC226', 'DC230a', 'DC235', 'DC241', 'DC252', 'DC109']
full_map = [DC024_mapped, DC205_mapped, DC213_mapped, DC214_mapped, DC215_mapped,
       DC226_mapped, DC230a_mapped, DC235_mapped, DC241_mapped, DC252_mapped, DC109_mapped]
for index, map in zip(separated_cols, full_map):
  test_features_data[index] = test_features_data[index].map(map)
test_features_data

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237e,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a
id,,,,,,,,,,,,,,,,,,,,,
26718,east java,2,flush toilet : shared / public,1,0,1,0,1,1,0,...,0,0,in the house,1,1,1,daily,3,shared/public,52
26802,east java,1,flush to septic tank,1,1,1,1,0,1,0,...,0,0,in the house,1,0,0,daily,2,private: with septic tank,18
41302,southeast sulawesi,2,flush to septic tank,1,0,1,1,1,1,0,...,0,0,in the house,0,0,1,less than once a month,5,private: with septic tank,78
38698,central sulawesi,1,flush to septic tank,1,1,0,0,0,0,1,...,0,0,in the house,0,1,0,never,1,private: with septic tank,20
44257,west sulawesi,2,flush to septic tank,1,0,1,0,0,1,0,...,0,0,in the house,1,1,1,daily,3,private: with septic tank,125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36943,north kalimantan,2,flush to septic tank,1,0,1,0,0,1,1,...,0,0,in the house,0,0,0,never,4,private: with septic tank,70
33415,west kalimantan,2,flush to septic tank,1,0,1,1,0,1,0,...,0,1,in the house,1,1,0,never,4,private: with septic tank,120
41998,southeast sulawesi,1,flush to septic tank,1,1,1,1,0,1,0,...,0,0,in the house,1,0,0,daily,2,private: with septic tank,72
41567,southeast sulawesi,2,no facility/bush/field/river/ beach/ pond/pool,0,0,0,0,0,1,0,...,0,0,in the house,0,0,1,daily,1,yard/bush/forest,9
45296,maluku,1,flush to septic tank,1,0,1,1,0,0,0,...,0,0,in the house,1,0,0,daily,2,private: with septic tank,96

In [ ]:
#eliminate null values

#for float types
test_features_data=test_features_data.fillna(test_features_data.mean())

#for string types
test_features_data=test_features_data.fillna('out-of-category')

<ipython-input-72-6d8dfad35418>:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  test_features_data=test_features_data.fillna(test_features_data.mean())

In [ ]:
#check no missing values are left 
test_features_data.isna().sum()

DC024     0
DC025     0
DC205     0
DC206     0
DC207     0
DC208     0
DC209     0
DC210     0
DC211     0
DC212     0
DC213     0
DC214     0
DC215     0
DC216     0
DC217     0
DC219     0
DC220     0
DC226     0
DC230a    0
DC230b    0
DC232     0
DC232b    0
DC235     0
DC237     0
DC237a    0
DC237b    0
DC237c    0
DC237d    0
DC237e    0
DC237f    0
DC241     0
DC242     0
DC244     0
DC246     0
DC252     0
DC270a    0
DC109     0
DC142a    0
dtype: int64

In [ ]:
#encoding categorical features (str-->float)

from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()

enc.fit(test_features_data)
test_features_data_arr=enc.transform(test_features_data)

col_names_list=test_features_data.columns
test_encoded_categorical_df=pd.DataFrame(test_features_data_arr, columns=col_names_list)

In [ ]:
#check data types
test_encoded_categorical_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11990 entries, 0 to 11989
Data columns (total 38 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DC024   11990 non-null  float64
 1   DC025   11990 non-null  float64
 2   DC205   11990 non-null  float64
 3   DC206   11990 non-null  float64
 4   DC207   11990 non-null  float64
 5   DC208   11990 non-null  float64
 6   DC209   11990 non-null  float64
 7   DC210   11990 non-null  float64
 8   DC211   11990 non-null  float64
 9   DC212   11990 non-null  float64
 10  DC213   11990 non-null  float64
 11  DC214   11990 non-null  float64
 12  DC215   11990 non-null  float64
 13  DC216   11990 non-null  float64
 14  DC217   11990 non-null  float64
 15  DC219   11990 non-null  float64
 16  DC220   11990 non-null  float64
 17  DC226   11990 non-null  float64
 18  DC230a  11990 non-null  float64
 19  DC230b  11990 non-null  float64
 20  DC232   11990 non-null  float64
 21  DC232b  11990 non-null  float64
 22  DC235   11990 non-null  float64
 23  DC237   11990 non-null  float64
 24  DC237a  11990 non-null  float64
 25  DC237b  11990 non-null  float64
 26  DC237c  11990 non-null  float64
 27  DC237d  11990 non-null  float64
 28  DC237e  11990 non-null  float64
 29  DC237f  11990 non-null  float64
 30  DC241   11990 non-null  float64
 31  DC242   11990 non-null  float64
 32  DC244   11990 non-null  float64
 33  DC246   11990 non-null  float64
 34  DC252   11990 non-null  float64
 35  DC270a  11990 non-null  float64
 36  DC109   11990 non-null  float64
 37  DC142a  11990 non-null  float64
dtypes: float64(38)
memory usage: 3.5 MB

In [ ]:
#normalization(bet. 0-1)

#using minmax scaler(look up)
test_normalized_arr=scaler.transform(test_encoded_categorical_df)
test_normalized_df=pd.DataFrame(test_normalized_arr, columns=col_names_list)

In [ ]:
# split df to X and Y
y = training_set_labels
X = normalized_df

In [ ]:
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.model_selection import train_test_split# split data into 80-20 for training set / test set

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, stratify = y)

# cross-validation with 5 splits
cv = StratifiedShuffleSplit(n_splits=5, random_state = 42)

In [ ]:
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import accuracy_score, classification_report, roc_auc_score, f1_score
from sklearn.model_selection import GridSearchCV

In [ ]:
from sklearn.metrics import classification_report

# display test scores and return result string and indexes of false samples
def display_test_scores(test, pred):
    str_out = ""
    str_out += ("TEST SCORES\n")
    str_out += ("\n")

    # print AUC score
    auc = roc_auc_score(test, pred)
    str_out += ("AUC: {:.4f}\n".format(auc))
    str_out += ("\n")

    # print classification report
    report = classification_report(test, pred)
    str_out += ("Classification Report:\n{}\n".format(report))

    false_indexes = np.where(test != pred)
    return str_out, false_indexes

In [ ]:
# NN with 1 layer
nn1 = MLPRegressor(tol=1e-5, hidden_layer_sizes=10, random_state=0, solver='adam', activation='logistic', max_iter=1000, batch_size=256)

nn1.fit(X_train, y_train)

# prediction results
y_pred_prob = nn1.predict(X_test)
y_pred = (y_pred_prob > 0.5).astype(int)

# print accuracy metrics
results, false = display_test_scores(y_test, y_pred)
print(results)

TEST SCORES

AUC: 0.5955

Classification Report:
              precision    recall  f1-score   support

           0       0.66      0.20      0.31       715
           1       0.92      0.99      0.95      6480

    accuracy                           0.91      7195
   macro avg       0.79      0.60      0.63      7195
weighted avg       0.89      0.91      0.89      7195

/usr/local/lib/python3.10/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:693: UserWarning: Training interrupted by user.
  warnings.warn("Training interrupted by user.")

In [ ]:
# NN with 1 layer
nn1 = MLPRegressor(tol=1e-5, hidden_layer_sizes=10, random_state=0, solver='adam', activation='logistic', max_iter=1000, batch_size=512)

nn1.fit(X_train, y_train)

# prediction results
y_pred_prob = nn1.predict(X_test)
y_pred = (y_pred_prob > 0.5).astype(int)

# print accuracy metrics
results, false = display_test_scores(y_test, y_pred)
print(results)

TEST SCORES

AUC: 0.5909

Classification Report:
              precision    recall  f1-score   support

           0       0.68      0.19      0.30       715
           1       0.92      0.99      0.95      6480

    accuracy                           0.91      7195
   macro avg       0.80      0.59      0.63      7195
weighted avg       0.89      0.91      0.89      7195

/usr/local/lib/python3.10/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:693: UserWarning: Training interrupted by user.
  warnings.warn("Training interrupted by user.")

In [ ]:
# NN with 1 layer
nn1 = MLPRegressor(tol=1e-5, hidden_layer_sizes=10, random_state=0, solver='adam', activation='logistic', max_iter=1000, batch_size=1024)

nn1.fit(X_train, y_train)

# prediction results
y_pred_prob = nn1.predict(X_test)
y_pred = (y_pred_prob > 0.5).astype(int)

# print accuracy metrics
results, false = display_test_scores(y_test, y_pred)
print(results)

TEST SCORES

AUC: 0.5948

Classification Report:
              precision    recall  f1-score   support

           0       0.65      0.20      0.31       715
           1       0.92      0.99      0.95      6480

    accuracy                           0.91      7195
   macro avg       0.78      0.59      0.63      7195
weighted avg       0.89      0.91      0.89      7195

In [ ]:
# NN with 1 layer
nn1 = MLPRegressor(tol=1e-5, hidden_layer_sizes=10, random_state=0, solver='adam', activation='relu', max_iter=1000, batch_size=1024)

nn1.fit(X_train, y_train)

# prediction results
y_pred_prob = nn1.predict(X_test)
y_pred = (y_pred_prob > 0.5).astype(int)

# print accuracy metrics
results, false = display_test_scores(y_test, y_pred)
print(results)

TEST SCORES

AUC: 0.6086

Classification Report:
              precision    recall  f1-score   support

           0       0.65      0.23      0.34       715
           1       0.92      0.99      0.95      6480

    accuracy                           0.91      7195
   macro avg       0.79      0.61      0.65      7195
weighted avg       0.89      0.91      0.89      7195

In [ ]:
# NN with 1 layer
nn_1 = MLPRegressor(tol=1e-5, hidden_layer_sizes=10, random_state=0, solver='adam', activation='logistic', max_iter=1000, batch_size=512)

nn_1.fit(X, y)

# prediction results
y_pred_logistic_nn = nn_1.predict(test_normalized_df)
y_pred_logistic_nn=(y_pred_logistic_nn > 0.5).astype(int)

In [ ]:
y_pred_logistic_nn

array([1, 1, 1, ..., 1, 1, 1])

In [ ]:
pred_test=y_pred_logistic_nn

In [ ]:
submission_df = pd.read_csv("/content/sample_submission.csv", 
                            index_col="id")

FileNotFoundError: ignored

In [ ]:
import numpy as np

np.sum(np.logical_or(np.array(y_pred_logistic_nn) == 1, np.array(y_pred_logistic_nn) == 0), axis=0)

In [ ]:
import numpy as np
# Save predictions to submission data frame
submission_df["DC201"] = pred_test

submission_df.head()

In [ ]:
submission_df.loc[submission_df['DC201'] == 0, 'DC201'] = "Tidak Layak Minum"
submission_df.loc[submission_df['DC201'] == 1, 'DC201'] = "Layak Minum"
submission_df

In [ ]:
date = pd.Timestamp.now().strftime(format='%Y-%m-%d_%H-%M_')
submission_df.to_csv('submission gammafest', index=True)